<div class="header-container">
        <div id="title">Brady Snelson</div>
        <mat-icon class="header-icon" (click)="openEmail">email</mat-icon>
        <a href="https://www.linkedin.com/in/bradysnelson/" target="_blank"><img id="linked-in" class="header-icon" src="../../assets/linkedin.png"></a>
        <a href="https://github.com/basnelso" target="_blank"><img id="git-hub" class="header-icon" src="../../assets/github.png"></a>
        <a href="https://twitter.com/bs40404" target="_blank"><img id="twitter" class="header-icon" src="../../assets/twitter.png"></a>
</div>
