.footer-container {
    text-align: center;
}
.footer-text1 {
    padding-top: 20px;
    font-size: 18px;
}

.contact {
    padding-top: 10px;
    font-size: 18px;
}

.footer-text2 {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 12px;
}
