.pdfViewerContainer {
    height: 1080px !important;
}

.resume-container {
    text-align: center;
}

.download-button {
    color: black;
}

.icon {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}